{% extends 'base.html' %}

{% block title %}Data Store{% endblock %}

{% block backLink %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{ url_for('home.index') }}">
                    Home
                </a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="{{ url_for('home.data_store') }}">
                    Data Store
                </a>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Data Store
            </h1>

            <h2 class="govuk-heading-m">
                Education
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-1">
                School teacher workforce survey
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link">
                        2021
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2020
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2019
                    </a>
                </li>
            </ul>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Higher education destinations
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021
                    </a>
                </li>
            </ul>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Something else about schools
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021 - Q4
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021 - Q3
                    </a>
                </li>
            </ul>

            <h2 class="govuk-heading-m">
                Employment
            </h2>
            <p class="govuk-body govuk-!-margin-bottom-1">
                ONS earnings survey
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021 - December
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2020 - November
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021 - October
                    </a>
                </li>
            </ul>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Social mobility - job class
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021
                    </a>
                </li>
            </ul>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Something else about employment
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021 - Q4
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('home.data_store_file_group_1_2021') }}"
                       class="govuk-link govuk-link--no-visited-state">
                        2021 - Q3
                    </a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
