{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">
                Equality Data Platform
            </h1>
            <p class="govuk-body">
                This is the website of the Equality Data Platform.<br>
                It is currently in development.
            </p>

            <h2 class="govuk-heading-m">
                Pages
            </h2>
            <p class="govuk-body">
                You may be interested in these pages:
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>
                    <a href="{{ url_for('output.enterprise_taskforce_homepage') }}" class="govuk-link">
                        Enterprise Taskforce Data Pack
                    </a>
                </li>
                <li>
                    <a href="{{ url_for('output.enterprise_taskforce_2_homepage') }}" class="govuk-link">
                        Enterprise Taskforce No10 dashboard
                    </a>
                </li>
            </ul>

        </div>
    </div>
{% endblock %}
